In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([{"name": "Joel", "age": 32}, {"name": "zach", "age": 62}])

In [3]:
df["age"]

0    32
1    62
Name: age, dtype: int64

In [4]:
df

   age  name
0   32  Joel
1   62  zach

In [7]:
df = df.rename(columns={"name": "Full Name"})

In [8]:
df

   age Full Name
0   32      Joel
1   62      zach

In [10]:
df[["Full Name"]]

  Full Name
0      Joel
1      zach